@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: roboto;
}
main{
    padding-left: 20px;
    margin-right: 20px;
}

@media(min-width: 768px){
    .nav-item{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #585B5B !important;
        border-top: 2px solid #585B5B !important;
        border-right: 2px solid #585B5B !important;
        border-left: 1px solid #585B5B !important;
        background-color: #546E9F!important;
        width: 25%;
        height: 95px;
        font-size: 100%;
        font-weight: bold;
        text-align: center;
    }
    .nav-item:first-child{
        border-left: 2px solid #585B5B !important;
        border-radius: 15px 0px 0px 15px !important;
    }
    .nav-item:last-child{
        border-radius: 0px 15px 15px 0px !important;
    }
}
@media(max-width: 767px){
    .nav-item{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border: 1px solid #585B5B !important;
        background-color: #546E9F!important;
        font-weight: bold;
        text-align: center;
    }
    .nav-item:first-child{
        border-radius: 15px 15px 0px 0px !important;
    }
    .nav-item:last-child{
        border-radius: 0px 0px 15px 15px !important;
    }
}
#navbarNav{
    padding: 0px;
}
header{
    background-color: #9EACC7;
}
h2{
    margin-bottom: 20px !important;
    letter-spacing: 3px;
}
header section nav{
    background-color: #9EACC7;
    width: 100% !important;
    height: 100% !important;
}
header section figure img{
    max-height: 120px;
}
header section nav aside ul{
    width: 100%;
}
.navbar-nav .nav-link{
    font-size: 25px !important;
}
header section nav aside ul li a{
    color:white !important;
    letter-spacing: 3px;
}
header section nav aside ul li:hover a{
    color:red !important;
    font-size:130%;
}
@media(max-width: 546px){
    #home{
        background-position: 50% -60%;
    }
}
#home{
    background-image: url("../img/faro.jpeg");
    filter: brightness(300%) contrast(90%) blur(1px) saturate(200%);
    background-size: cover;
    background-attachment: fixed;
    height: 800px;
    padding: 60px;

    color: white;
}
#home article{
    height: 800px;
}
#home h1{
    font-size: 500%;
    letter-spacing: 5px;
    margin-top: 150px;
}

#carouselExampleIndicators{
    height: 600px;
}

#carouselExampleIndicators .carousel-inner figure{
    background-color: #585B5B;
    height: 600px;
}

.container{
    margin-top: 40px;
    margin-bottom: 40px;
}
.card{
    border-radius: 20px 20px 0px 0px !important;
    border: 3px solid #585B5B !important;
    border-bottom: 6px solid #585B5B !important;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #546E9F !important;
}
.contact-list{
    display: block;
    list-style-type: none;
}
.contact-list li{
    font-size: 170%;
    margin-top: 5px;
    margin-bottom: 5px;    
}
@media(min-width: 768px){
    .contact-list li{
        margin-left: 35%;
    }
}
@media(min-width: 500px){
    .contact-list li{
        margin-left: 25%;
    }
}
@media(min-width: 300px){
    .contact-list li{
        margin-left: 25%;
    }
}
.contact-list li a{
    text-decoration: none;
    color: black;
}
.contact-list li a img{
    height: auto;
    width: 30px;
    margin-right: 10px;
}
